<?xml version="1.0" encoding="UTF-8"?>


<suite name="Suite" parallel="tests" thread-count="1">

<groups>
        <run>
            <include name="smoke"/>
          
        </run>
    </groups>

    <test name="Test" thread-count="1">
        <classes>
            <class name="Testng_practice.SimpleTest"/>
              <class name="Testng_practice.SampleTest"/>
        </classes>
    </test>

</suite>
